$breakpoints: (
  "mobile": 375px,
  "tablet": 768px,
  "desktop": 1024px,
);

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "해당 브레이크포인트가 정의되지 않았습니다: #{$breakpoint}.";
  }
}

@mixin flex($justify: center, $align: center, $direction: row, $gap: 0) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  gap: #{$gap}px;
}
