$primary-black: #111111;
$primary-blue: #2563eb;

$background: #f7f8fa;
$surface: #ffffff;
$border: #e5e7eb;

$primary-blue-light: #ebf2ff;
$primary-yellow: #fff9ea;

$text-primary: #1a1a1a;
$text-secondary: #666666;
$text-caption: #999999;

$color-success: #16a34a;
$color-error: #dc2626;
